DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
GUILD_ID=

NODE_ENV=production

POSTGRES_PASSWORD=
DATABASE_URL=postgresql://tickets:CHANGE_ME@db:5432/tickets

SUDO_ROLE_IDS=
SUDO_USER_IDS=

BOT_OWNER_ID=

BOT_IMAGE=ghcr.io/jason-tucker/euphoric-tickets:latest

UPTIME_KUMA_PUSH_URL=
